* {
  box-sizing: border-box;
}

body {
  margin: 0 ;
  background-image: linear-gradient(white, orange);
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.outer-container {
  /* width: 1200px; */
  margin: 0 auto;
  border-right: 2px;
}

.container {
  border: 1px solid black;
}

.cathegories-list {
  list-style: none;
}